{% extends 'base.html' %}

{% block title %}
Book | {{book.title}}
{% endblock %}

{% block body %}
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>{{book.title}}</h2>
                </div>
                <img src="{{book.cover.url}}" alt="Book Cover" class="image img-fluid" style="height: 100%;">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        {{book.description | safe}}
                        <hr>
                        <h3>Category</h3>
                        <p>{% for cat in book.category.all %} {{cat}},&nbsp;{% endfor %}</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags">
                            <span class="meta-heading">Author</span>
                            <a href="#">{{book.author}}</a>
                            <span class="meta-heading">Date</span>
                            <span>{{book.upload_date | date:" M d, Y - H:i"}}</span>
                            <span class="meta-heading">Rating</span>
                            <span>{{book.total_rating}}</span>
                            <span><a href="{% url 'my:book-update' book.link %}" class="btn text-white btn-primary">Update This Book Data</a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Read This Book or Download PDF</h3>
                        <a href="{{book.book.url}}" target="_blank" class="btn btn-lg btn-primary">{{book.title}}</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 mt-3">
                        <a href="{{book.book.url}}" download="{{book.book.url}}" class="btn btn-primary">Download</a>
                    </div>
                </div>

            </div>
        </section>
{% endblock %}